<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<table class = "table">
    <!--<th:block th:each="animal : ${listCat}">-->
        <!--<tr>-->
            <!--<td th:text="${animal.id}">...</td>-->
            <!--<td th:text="${animal.tenLoai}">...</td>-->
        <!--</tr>-->
    <!--</th:block>-->
</table>
</body>
</html>